@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: "HelveticaUltaLight";
  src: url("../public/fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaUltaThin";
  src: url("../public/fonts/HelveticaNeue/HelveticaNeue\ Thin.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaRegular";
  src: url("../public/fonts/HelveticaNeue/helveticaneueRegular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaMedium";
  src: url("../public/fonts/HelveticaNeue/HelveticaNeue\ Medium.ttf") format("opentype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaBold";
  src: url("../public/fonts/HelveticaNeue/Helvetica\ Neu\ Bold.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "HelveticaHeavy";
  src: url("../public/fonts/HelveticaNeue/HelveticaNeueHv.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
